<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="stylesheets/main.css" />
    <title>Bawgle</title>
  </head>
  <body>
    <section class="bawgle">
      <div id="control">
        <form action="" method="get">
          <input class="topitem" id="new" type="submit" value="Shake">
        </form>
        <button class="topitem" id="play" type="button">
          <span class="material-icons md-18">play_arrow</span>
        </button>
        <form name="play" action="" method="get">
          <input name="letters" type="hidden" value="{{ letters }}">
          <input class="topitem" type="submit" value="Solve">
          <input name="solve" type="hidden" value="1">
          <button class="topitem" id="help" type="button">
            <span class="material-icons md-18">help_outline</span>
          </button>
      {% if solve %}
        </form>
      </div>
      <div id=#main>
      <div id="left-panel">
        <h2 class="panel-label">Your words ({{ words|length }}):</h2>
        <div class="word-panel">
          <ul class="wordlist">
        {% for w in words|dictsort %}
          {% if w[1] %}
            <li>{{ w[0]|word_anchor }}</li>
          {% else %}
            <li><del>{{ w[0]|word_anchor(True) }}</del></li>
          {% endif %}
        {% endfor %}
          </ul>
        </div>
      {% else %}
      </div>
      <div id=#main>
      <div id="left-panel">
        <h2 class="panel-label">Your words:</h2>
        <div class="word-panel">
          <textarea name="words" cols=24 rows=40></textarea name>
        </form>
        </div>
      {% endif %}
      </div>
      <div id="center-panel">
        <h2 id="clock" class="panel-label">3:00</h2>
        <div id="grid">
      {% for i in range(rank*rank) %}
        {% if i % rank == 0 %}
          <div class="grid-row" id="r{{i * rank}}">
        {% endif %}
            <div class="grid-cel">{{ display_letters[i] }}</div>
        {% if i % rank == 0 %}
          </div>
        {% endif %}
      {% endfor %}
        </div>
      </div>
      <div id="right-panel">
      {% if solve %}
        <h2 class="panel-label">Solution ({{ answers|length }}):</h2>
        <div class="word-panel">
          <ul class="wordlist">
        {% for a in answers|dictsort %}
          {% if a[1] > 1 %}
              <li>{{ a[0]|word_anchor }} ({{a[1]}})</li>
          {% else %}
              <li>{{ a[0]|word_anchor }}</li>
          {% endif %}
        {% endfor %}
          </ul>
        </div>
      {% endif %}
      </div>
    </section>
  </body>
</html>

