<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="stylesheets/main.css" />
    <script src="scripts/bawgle-client.js"></script>
    <title>Bawgle</title>
  </head>
  <body>
    <section class="bawgle">
      <div id="control">
        <form action="" method="get">
          <input class="topitem" id="new" type="submit" value="New">
        </form>
      {% if solve %}
        <button class="topitem" id="playing" disabled>
      {% else %}
        <button class="topitem" id="playing" onclick="togglePlay()">
      {% endif %}
          <span class="material-icons md-18" id="playing-icon" >play_arrow</span>
        </button>
        <form id="play-form" name="play" action="" method="get" onsubmit="submitSolve()">
          <input name="words" id="words" type="hidden" value="">
          <input name="letters" type="hidden" value="{{ letters }}">
      {% if solve %}
          <input class="topitem" id="solve" type="submit" value="Solve" disabled>
      {% else %}
          <input class="topitem" id="solve" type="submit" value="Solve">
      {% endif %}
          <input name="solve" type="hidden" value="1">
          <button class="topitem" id="help">
            <span class="material-icons md-18">help_outline</span>
          </button>
        </form>
      </div>
      <div id="main">
      <div id="left-panel">
      {% if solve %}
        <h2 class="panel-label">Your words ({{ words|length }}):</h2>
        <div class="word-panel">
          <ul id="user-word-list" class="word-list">
        {% for w in words|dictsort %}
          {% if w[1] %}
            <li>{{ w[0]|word_anchor }}</li>
          {% else %}
            <li><del>{{ w[0]|word_anchor(True) }}</del></li>
          {% endif %}
        {% endfor %}
          </ul>
        </div>
      {% else %}
        <h2 class="panel-label">Your words:</h2>
        <div class="word-panel">
          <ul id="user-word-list" class="word-list">
            <li>
              <input id='word-entry-top' class='word-entry' type='text' onkeypress='wordEntryKeypress(event)' value="">
            </li>
          </ul>
        </div>
      {% endif %}
      </div>
      <div id="center-panel">
      {% if solve %}
        <h2 id="status" class="panel-label">Your score: {{word_score}} out of {{answer_score}}</h2>
      {% else %}
        <h2 id="status" class="panel-label"></h2>
      {% endif %}
        <div id="grid" class="noselect">
      {% for i in range(rank*rank) %}
        {% if i % rank == 0 %}
          <div class="grid-row" id="r{{i * rank}}">
        {% endif %}
            <div class="grid-cell"><span onmousedown='gridCellDown(event)' onmouseenter='gridCellEnter(event)'>{{ display_letters[i] }}</span></div>
        {% if i % rank == 0 %}
          </div>
        {% endif %}
      {% endfor %}
        </div>
      </div>
      <div id="right-panel">
      {% if solve %}
        <h2 class="panel-label">Solution ({{ answers|length }}):</h2>
        <div class="word-panel">
          <ul class="word-list">
        {% for a in answers|dictsort %}
          {% if a[1] > 1 %}
              <li>{{ a[0]|word_anchor }} ({{a[1]}})</li>
          {% else %}
              <li>{{ a[0]|word_anchor }}</li>
          {% endif %}
        {% endfor %}
          </ul>
        </div>
      {% endif %}
      </div>
    </section>
  </body>
</html>

