<!doctype html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <title>Bawgle</title>
  </head>
  <body>
    <table>
      <tr>
        <td>Bawgle</td>
        {% for i in len(letters) %}
          {% if i % rank == 0 %}
          </tr>
          <tr>
          {% endif %}
             <td>{{ letters[i] }}</td>
        {% endfor %}
      </tr>
    </table>
    {% for a in answers %}
      <p>
      {{ a }}
      </p>
    {% endfor %}
  </body>
</html>
