body {
  font-family: Verdana, Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  border: 1px solid gray;
}

td {
  border-collapse: collapse;
  border: 1px solid gray;
  width: 3em;
  height: 3em;
  text-align: center
}

#grid { 
  float: left;
  width: 18em;
}

#grid ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#grid li {
  display: inline-block;
}

#col0 { 
  float: left;
  width: 12em;
  word-wrap: break-word
}

#col1 { 
  float: left;
  width: 12em;
  word-wrap: break-word
  background-color: #DDDD00;
}

#col2 { 
  float: left;
  width: 12em;
  word-wrap: break-word
  background-color: #DD00DD;
}

#col3 { 
  float: left;
  width: 12em;
  word-wrap: break-word
  background-color: #00DDDD;
}
