html {
  font-family: Roboto, RobotoDraft, Helvetica, sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
  height: 100%;
  overflow: scroll;
}

#control {
  overflow: hidden;
  background: #016765;
  color: white;
}

.topitem {
  float: left;
  display: block;
  text-align: center;
  padding: 9px 10px;
  text-decoration: none;
  border-width: 0;
  background: rgba(0, 0, 0, 0.0);
  font-size: 18px;
  color: white;
  line-height: 1.5em;
}

#help, #playing {
  padding-bottom: 4px; /* XXX don't understand... */
}

#playing:disabled, #solve:disabled {
  color: #80a0a0;
}


.topitem:hover, .topitem:focus {
  background: #68c88c;
  color: #014725;
}

#score {
  float: left, right;
}

#help, #grid-size, #language {
  float: right;
}

#main {
  min-width: 99em;
}
  
#left-panel {
  position: absolute;
  top: 3.6em;
  left: 0;
  width: 33em;
} 

#center-panel {
  position: absolute;
  top: 3.6em;
  left: 33em;
  width: 33em;
} 

#right-panel {
  position: absolute;
  top: 3.6em;
  left: 66em;
  width: 33em;
} 

.word-panel {
  column-count: 2;
  column-fill: auto;
  height: 31em;
}

.panel-label {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

#status {
  text-align: center;
}

.word-list {
  margin: 0;
  padding-left: 2.5em;
}

.word-list li {
  list-style-type: none;
}

.word-list a {
  outline: none;
  text-decoration: none;
}

.word-list a:link {
  color: black;
}

.word-list a:visited {
}

.word-list a:focus {
  color: #019795;
  text-decoration: underline;
}

.word-list a:hover {
  color: #019795;
  text-decoration: underline;
}

.word-list a:active {
  color: #01FEAA;
}

.word-entry {
  width: 10em;
}

.word-entry-delete, .word-entry-delete {
  height: 24px;
  vertical-align: middle;
  border-width: 0;
  padding: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#grid {
  font-size: 2em;
  padding-left: 1rem;
}

.grid-cell {
  float: left;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: center;
  float: left;
  line-height: 2.5em;
  width: 2.5em; 
  margin: 3px;
  border: 5px solid #016765;
  border-collapse: collapse;
  border-radius: 5px;
}

.grid-cell span:hover, .grid-cell span:focus {
  color: #68c88c;
  background: #014725;
}

.grid-cell[selected] {
  background: lightGreen;
}

.grid-row {
  clear: left;
}
